/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Irish Grover', cursive;
    background-color: #0B0725; /* space-deep-blue */
    color: #F0F8FF; /* starlight-white */
    min-height: 100vh;
    /* Add any other global base styles here */
}
@keyframes fall {
          0% {
            opacity: 0;
          }
          10% { 
             opacity: 0.7; 
          }
          90% { 
            opacity: 0.7;
          }
          to {
            transform: translateY(120vh) rotate(10deg); 
            opacity: 0;
          }
        }